@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
body {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
a {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  width: 100%;
}
.page__body {
  width: 320px;
  margin: 0 auto;
  font-family: "Lato", serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px 14px;
}
.main-header__logo {
  display: flex;
  align-items: center;
}
.main-header__logo--img {
  display: block;
  margin-right: 56px;
}
.main-header__logo--text {
  display: block;
}
.main-nav {
  padding: 7px 0;
  display: flex;
}
.main-nav__toggle {
  padding: 12px;
  border: none;
  background-image: url("../img/toggle.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}
.main-nav__item {
  padding-top: 22px;
  padding-bottom: 24px;
}
.main-nav__link {
  display: block;
  font-family: "Oswald", serif;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
.main-container {
  background-color: #ffffff;
}
.title {
  font-family: "Oswald", serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  margin: 0;
}
.subtitle {
  font-family: "Oswald", serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}
.promo {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background.png");
  background-repeat: no-repeat;
  background-size: auto 302px;
  background-position: top center;
  color: #ffffff;
}
.promo__wrapper {
  padding: 27px 20px 20px;
  text-align: center;
}
.promo__title {
  margin-bottom: 25px;
  color: #ffffff;
}
.promo__slogan {
  font-family: "Oswald", serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}
.promo__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
}
.button {
  font-family: "Oswald", serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  background-color: #68b738;
  color: #ffffff;
  padding: 10px 44px;
  text-align: center;
}
.programs__wrapper {
  padding: 0 20px;
}
.programs__item {
  background-color: #f2f2f2;
  padding: 30px 33px 18px 20px;
  margin-bottom: 20px;
}
.programs__item:last-child {
  margin-bottom: 0;
}
.programs__title {
  font-family: "Oswald", serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 29px;
}
.programs__description {
  margin: 0;
  margin-bottom: 38px;
}
.programs__link {
  font-family: "Oswald", serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  display: block;
  padding: 4px 0;
}
.guide__wrapper {
  padding: 20px 20px 49px;
}
.guide__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.guide__item {
  margin-bottom: 20px;
  padding-left: 80px;
  background-repeat: no-repeat;
}
.guide__item--leaf {
  background-image: url("../img/leaf.svg");
}
.guide__item--glass {
  background-image: url("../img/glass.svg");
}
.guide__item--cutlery {
  background-image: url("../img/cutlery.svg");
}
.guide__item--clock {
  background-image: url("../img/clock.svg");
}
.guide__item:last-child {
  margin-bottom: 0;
}
.example__wrapper {
  padding: 25px 20px 40px;
  background-color: #f2f2f2;
}
.example__text {
  margin: 0;
  margin-bottom: 20px;
}
.example__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 124px);
  column-gap: 32px;
  row-gap: 20px;
  justify-items: center;
}
.example__description {
  margin: 0;
}
.example__value {
  font-family: "Oswald", serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.example__option {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  text-transform: lowercase;
}
.example__price {
  font-family: "Oswald", serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  grid-column: 1 / -1;
  margin-bottom: 20px;
}
.example__img {
  display: block;
}
.contacts__wrapper {
  padding: 26px 20px;
  display: flex;
}
.contacts__lead {
  font-family: "Oswald", serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  min-width: 140px;
  margin: 0;
}
.contacts__address {
  font-style: normal;
  line-height: 20px;
}
/*временное решение чтобы убрать отступ под картинкой-заглушкой*/
.contacts__img {
  display: block;
}
.main-footer {
  background-color: #f2f2f2;
}
.main-footer__wrapper {
  padding: 40px 20px;
}
.main-footer__logo-link {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.main-footer__logo {
  display: block;
}
.main-footer__social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}
.main-footer__academy-link {
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  padding: 7px 0;
  display: block;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: right;
}
.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social__item {
  height: 22px;
}
.social__link {
  padding: 11px 14px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}
.social__link--vkontakte {
  background-image: url("../img/vkontakte.svg");
}
.social__link--youtube {
  background-image: url("../img/youtube.svg");
}
.social__link--telegram {
  background-image: url("../img/telegram.svg");
}
.form-container {
  background-color: #f2f2f2;
}
.form-container__lead {
  background-color: #ffffff;
  color: #000000;
  padding: 0 20px;
}
.form-container__title {
  margin-bottom: 37px;
}
.form-container__text {
  font-family: "Oswald", serif;
  text-transform: uppercase;
  max-width: 230px;
  margin: 0;
}
.form {
  background-color: #ffffff;
  padding: 39px 20px 32px;
  font-family: "Oswald", serif;
  font-size: 16px;
}
.form__group {
  margin: 0;
  padding: 0;
  border: none;
}
.form__group--cat-info {
  padding-bottom: 24px;
}
.form__group--programs {
  padding-top: 22px;
  padding-bottom: 19px;
}
.form__group--programs .form__item {
  margin-bottom: 13px;
  padding: 6px 0;
}
.form__group--contacts {
  padding-top: 26px;
  padding-bottom: 24px;
}
.form__group--contacts .form__title {
  margin-bottom: 35px;
}
.form__group--comment .form__title {
  margin-bottom: 38px;
}
.form__group--extra {
  padding-top: 23px;
  padding-bottom: 34px;
}
.form__group .form__title {
  margin-bottom: 34px;
}
.form__group .form__item {
  margin-bottom: 13px;
  padding: 6px 0;
}
.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.form__item {
  margin-bottom: 14px;
}
.form__item:last-child {
  margin-bottom: 0;
}
.form__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  margin: 0;
}
.form__label {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.form__label--check {
  position: relative;
  padding-left: 45px;
}
.form__input {
  font-family: "Oswald", serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  padding: 13px 15px 12px;
  margin-left: 13px;
  flex-grow: 1;
}
.form__text {
  display: block;
}
.form__mark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid #e7e7e7;
}
.form__mark--radio {
  border-radius: 50%;
}
.form__check:checked + .form__mark--radio::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";
}
.form__check:checked + .form__mark--checkbox {
  background-image: url("../img/checkmark.svg");
  background-repeat: no-repeat;
  background-position: 1px;
}
.form__textarea {
  font-family: "Oswald", serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  min-width: 280px;
  min-height: 150px;
  width: 100%;
  border: 1px solid #e7e7e7;
  padding: 13px 14px;
  resize: none;
}
.form__button {
  border: none;
  width: 100%;
  margin-bottom: 21px;
}
.form__footnote {
  font-family: "Lato", serif;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  display: block;
  text-align: center;
}
.catalog-container {
  padding-bottom: 35px;
  background-color: #f2f2f2;
}
.catalog-container__title {
  padding: 27px 20px 41px;
  background-color: #ffffff;
}
.basic-products__wrapper {
  padding: 8px 20px 11px;
  background-color: #ffffff;
}
.basic-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 19px;
}
.cards__item {
  padding: 11px 0 14px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  row-gap: 13px;
  align-items: center;
  justify-items: center;
}
.cards__item--more {
  padding-top: 70px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: top 17px center;
  row-gap: 0;
}
.cards__item--more .cards__title {
  grid-column: 1 / -1;
  margin-bottom: 8px;
  max-width: 205px;
  color: #111111;
}
.cards__item--more .cards__description {
  display: block;
  grid-column: 1 / -1;
  max-width: 220px;
  margin-bottom: 21px;
}
.cards__image {
  display: block;
}
.cards__text {
  padding-bottom: 9px;
  justify-self: start;
  width: 100%;
}
.cards__title {
  font-family: "Oswald", serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 14px;
  max-width: 80px;
}
.cards__description {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cards__value {
  margin: 0;
  justify-self: end;
}
.cards__link {
  grid-column: 1 / -1;
  width: 100%;
}
.cards__link--more {
  background-color: #f2f2f2;
  color: #444444;
}
.extra-products {
  padding-top: 25px;
  background-color: #ffffff;
}
.extra-products__wrapper {
  padding: 0 20px;
}
.extra-products__title {
  font-family: "Oswald", serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 36px;
}
.extra-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 13px;
}
.list {
  display: grid;
  row-gap: 13px;
}
.list__item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  padding-bottom: 19px;
}
.list__title {
  font-family: "Oswald", serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 13px;
  grid-column: 1 / -1;
}
.list__description {
  line-height: 14px;
}
.list__price {
  line-height: 14px;
  justify-self: end;
}
.list__link {
  margin-top: 15px;
  grid-column: 1 / -1;
}
.gift {
  padding: 35px 20px;
  background-color: #ffffff;
}
.gift__description {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-image: url("../img/gift.svg"), linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/gift-background.png");
  background-repeat: no-repeat;
  background-position: top 59px center, center, center;
  margin: 0;
  padding: 187px 61px 43px 58px;
}
/*# sourceMappingURL=style.css.map */
