.contacts {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.contacts__wrapper {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 80px;
    background-color: #ffffff;
    gap: 85px;
    position: absolute;
    left: 110px;
    top: 95px;
    z-index: 1;
  }
}

.contacts__lead {
  font-family: "Oswald", "Arial", serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  min-width: 140px;
  max-width: 185px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: none;
    width: 163px;
    padding: 1px 0;
  }
}

.contacts__address {
  font-style: normal;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    text-align: end;
    width: 157px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    text-align: start;
  }
}

.contacts__map-wrapper {
  position: relative;

  picture {
    display: none;
  }

  &--nojs {
    picture {
      display: block;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .contacts__map {
      display: none;
    }
  }
}

.contacts__map {
  display: block;
  border: none;
  width: 100%;

  @media (min-width: @tablet-width) {
    min-height: 400px;
  }
}
