.main-nav {
  padding: 7px 0;
  display: flex;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.main-nav__toggle {
  padding: 12px;
  border: none;
  background-image: url("../img/toggle.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  z-index: 1;

  @media (max-width: @tablet-width) {
    &--close {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 33px;
    z-index: 0;
  }
}

.main-nav__item {
  padding: 22px 0 24px;

  @media (min-width: @tablet-width) {
    padding: 14px 0 12px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    padding: 16px 0 13px;
  }
}

.main-nav__link {
  display: block;
  font-family: "Oswald", serif;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;

    &--current::after {
      content: "";
      position: absolute;
      bottom: 2px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      background-color: #68b738;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;

    &--current::after {
      bottom: 5px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      background-color: #ffffff;
    }
  }
}
