.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    padding: 25px 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 55px 110px;
    position: absolute;
    width: 100%;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  padding: 13px 20px 14px;

  &--img {
    display: block;
    margin-right: 56px;

    @media (min-width: @tablet-width) {
      margin-right: 13px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 14px;
    }
  }

  &--text {
    @media (min-width: @desktop-width) {
      width: 118px;
      height: 21px;
    }
  }

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}
