.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social__item {
  height: 22px;
}

.social__link {
  padding: 11px 14px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;

  &--vkontakte {
    background-image: url("../img/vkontakte.svg");
  }

  &--youtube {
    background-image: url("../img/youtube.svg");
  }

  &--telegram {
    background-image: url("../img/telegram.svg");
  }
}
