.programs__wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }
}

.programs__item {
  background-color: #f2f2f2;
  padding: 30px 33px 18px 20px;
  margin-bottom: 20px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
    position: absolute;
    top: 24px;

    @media (min-width: @tablet-width) {
      width: 200px;
      height: 200px;
      top: 91px;
      right: 63px;
    }
  }

  &::after {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
  }

  &--slim::after {
    width: 36px;
    height: 50px;
    background-image: url("../img/cat-slim.svg");
    top: 21px;
    left: 27px;

    @media (min-width: @tablet-width) {
      width: 140px;
      height: 194px;
      background-size: contain;
      left: auto;
      top: 81px;
      right: 93px;
    }
  }

  &--pro::after {
    width: 67px;
    height: 28px;
    background-image: url("../img/cat-pro.svg");
    top: 35px;
    left: 13px;

    @media (min-width: @tablet-width) {
      width: 268px;
      height: 112px;
      background-size: contain;
      left: auto;
      top: 135px;
      right: 29px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 77px 52px 53px;
    margin-bottom: 30px;
  }
}

.programs__title {
  font-family: "Oswald", serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-left: 70px;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
    margin-bottom: 24px;
  }
}

.programs__description {
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
    max-width: 340px;
  }
}

.programs__link {
  font-family: "Oswald", serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  display: block;
  padding: 4px 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
