.promo {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background.png"), linear-gradient(rgb(76, 74, 79), rgb(76, 74, 79));
  background-repeat: no-repeat;
  background-size: auto 302px;
  background-position: top center;
  color: #ffffff;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background@2x.png"), linear-gradient(rgb(76, 74, 79), rgb(76, 74, 79));
  }

  @media (min-width: @tablet-width) {
    background-image: none;
    color: #000000;
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(to right, rgb(255, 255, 255) 50%, rgba(104, 183, 56, 0.85) 50%), url("../img/index-background-big.png"), linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(76, 74, 79) 50%);
    background-size: auto;
    background-position: right;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgb(255, 255, 255) 50%, rgba(104, 183, 56, 0.85) 50%), url("../img/index-background-big@2x.png"), linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(76, 74, 79) 50%);
      background-size: contain;
    }
  }
}

.promo__wrapper {
  padding: 27px 20px 20px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 40px 30px 0;
    text-align: start;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    padding: 143px 331px 52px 190px;
    display: grid;
    grid-template-columns: 416px 552px;
    grid-template-rows: 81px auto auto auto auto;

    & picture {
      grid-row: ~"1 / 6";
      grid-column: ~"2 / 3";
    }
  }
}

.promo__title {
  color: #ffffff;
  margin-bottom: 25px;
  max-width: 250px;
  display: inline-block;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    color: #000000;
    margin-left: 90px;
    margin-bottom: 40px;
    max-width: 420px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    grid-row: ~"2 / 3";
  }
}

.promo__slogan {
  font-family: "Oswald", "Arial", serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-left: 90px;
    margin-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-bottom: 52px;
    grid-row: ~"3 / 4";
  }
}

.promo__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: -49px;
  }
}

.promo__link {
  @media (min-width: @tablet-width) {
    font-size: 20px;
    position: absolute;
    bottom: 526px;
    left: 120px;
    padding: 17px 26px;
    width: 244px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    align-self: start;
    grid-row: ~"4 / 5";
  }
}
