.cards__item {
  padding: 11px 0 14px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 13px;
  align-items: center;
  justify-items: center;

  @media (min-width: @tablet-width) {
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 37px 40px;
    column-gap: 60px;
    row-gap: 0;
    background-image: linear-gradient(to top, #f2f2f2 84%, #ffffff 16%);
  }

  @media (min-width: @desktop-width) {
    grid-column: auto;
    padding: 10px 38px 40px;
  }

  &--more {
    padding-top: 70px;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: top 17px center;
    row-gap: 0;

    .cards__title {
      grid-column: span 2;
      margin-bottom: 8px;
      max-width: 205px;
      color: #111111;

      @media (min-width: @tablet-width) {
        max-width: 140px;
        margin-bottom: 23px;
      }
    }

    .cards__description {
      display: block;
      grid-column: ~"1 / -1";
      max-width: 220px;
      margin-bottom: 21px;

      @media (min-width: @tablet-width) {
        max-width: 175px;
        margin-bottom: 82px;
        text-align: center;
      }
    }

    @media (min-width: @tablet-width) {
      margin-top: 82px;
      padding-top: 160px;
      background-position: top 50px center;
      background-size: 60px 60px;
      align-items: start;
      border: 2px solid #f2f2f2;
    }

    .cards__link {
      @media (min-width: @desktop-width) {
        padding: 10px 35px;
      }
    }
  }
}

.cards__image {
  display: block;

  @media (min-width: @tablet-width) {
    grid-column: span 2;
    width: 200px;
    height: 210px;
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 12px;
  }
}

.cards__text {
  padding-bottom: 9px;
  justify-self: start;
  width: 100%;

  @media (min-width: @tablet-width) {
    grid-column: span 2;
    padding-bottom: 0;
    margin-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 10px;
    margin-bottom: 32px;
  }
}

.cards__title {
  font-family: "Oswald", serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 14px;
  max-width: 80px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto 20px;
    max-width: 140px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 25px;
  }
}

.cards__description {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    row-gap: 12px;
  }
}

.cards__value {
  margin: 0;
  justify-self: end;
}

.cards__link {
  grid-column: ~"1 / -1";
  width: 100%;

  &--more {
    background-color: #f2f2f2;
    color: #444444;
  }
}
