.cards__item {
  padding: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ebebeb;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 13px;
  align-items: center;
  justify-items: center;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 37px 40px;
    border: none;
    column-gap: 60px;
    row-gap: 0;
    background-image: linear-gradient(to top, #f2f2f2 84%, #ffffff 16%);
  }

  @media (min-width: @desktop-width) {
    padding: 10px 38px 40px;
  }

  &--more {
    padding-top: 78px;
    background-image: url("../img/sprite.svg#icon-plus");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: top 25px center;
    row-gap: 0;

    .cards__title {
      grid-column: span 2;
      margin-bottom: 8px;
      max-width: 205px;
      color: #111111;

      @media (min-width: @tablet-width) {
        max-width: 140px;
        margin-bottom: 23px;
      }
    }

    .cards__description {
      display: block;
      grid-column: ~"1 / -1";
      max-width: 220px;
      margin-bottom: 21px;

      @media (min-width: @tablet-width) {
        max-width: 175px;
        margin-bottom: 82px;
        text-align: center;
      }

      @media (min-width: @desktop-width) {
        margin-bottom: 90px;
      }
    }

    @media (min-width: @tablet-width) {
      margin-top: 82px;
      padding-top: 158px;
      background-position: top 50px center;
      background-size: 60px 60px;
      align-items: start;
      border: 2px solid #f2f2f2;
    }

    @media (min-width: @desktop-width) {
      padding-top: 149px;
    }

    .cards__button {
      @media (min-width: @desktop-width) {
        padding: 10px 35px;
      }
    }
  }
}

.cards__link-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 107px;

  @media (min-width: @tablet-width) {
    grid-column: span 2;
    width: 200px;
    height: 210px;
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
    margin-bottom: 12px;
  }
}

.cards__image {
  display: block;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 100%;
  }
}

.cards__link-text {
  display: block;

  &:focus-visible {
    outline: 2px solid #000000;
  }
}

.cards__text {
  padding-bottom: 9px;
  justify-self: start;
  width: 100%;

  @media (min-width: @tablet-width) {
    grid-column: span 2;
    padding-bottom: 0;
    margin-bottom: 32px;
  }
}

.cards__title {
  font-family: "Oswald", "Arial", serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 14px;
  max-width: 80px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto 20px;
    max-width: 140px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 23px;
  }
}

.cards__description {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    row-gap: 7px;
  }
}

.cards__value {
  margin: 0;
  text-align: end;

  @media (min-width: @tablet-width) {
    padding-bottom: 4px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: @desktop-width) {
    &:last-of-type {
      padding-bottom: 10px;
    }
  }
}

.cards__option {
  @media (min-width: @tablet-width) {
    padding-bottom: 4px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: @desktop-width) {
    &:last-of-type {
      padding-bottom: 10px;
    }
  }
}

.cards__button {
  grid-column: ~"1 / -1";
  width: 100%;

  &--more {
    background-color: #f2f2f2;
    color: #444444;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: #444444;
    }
  }
}
