.extra-products {
  padding-top: 25px;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    padding: 70px 0 75px;
  }

  @media (min-width: @desktop-width) {
    padding: 76px 0 87px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.extra-products__title {
  font-family: "Oswald", serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 36px;
  display: flex;
  gap: 20px;

  &::before {
    content: "";
    width: calc(50% - 160px);
    height: 15px;
    border-bottom: 2px solid #68b738;
  }

  &::after {
    content: "";
    width: 10px;
    height: 15px;
    border-bottom: 2px solid #68b738;
    flex-grow: 1;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 79px;
    gap: 40px;

    &::before {
      width: calc(50% - 354px);
      height: 24px;
    }

    &::after {
      height: 24px;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 79px;
    grid-column: span 4;

    &::before {
      width: calc(50% - 650px);
      height: 25px;
    }

    &::after {
      height: 25px;
    }
  }
}

.extra-products__list {
  margin: 0 20px;
  padding: 0;
  list-style-type: none;
  padding-top: 13px;
  border-top: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    margin: 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-left: 110px;
    grid-column: span 3;
  }
}

.extra-products__gift {
  padding: 35px 20px;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    padding: 70px 30px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-right: 110px;
  }
}

.extra-products__gift-description {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-image: url("../img/sprite.svg#icon-gift"), linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/gift-background-mobile.png");
  background-repeat: no-repeat;
  background-position: top 59px center, center, center;
  background-size: 78px 81px, auto, cover;
  margin: 0;
  padding: 187px 61px 43px 58px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/sprite.svg#icon-gift"), linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/gift-background-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/sprite.svg#icon-gift"), linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/gift-background-tablet.png");
    padding: 71px 125px 69px 421px;
    text-align: start;
    background-position: center left 78px, center, center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/sprite.svg#icon-gift"), linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/gift-background-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/sprite.svg#icon-gift"), linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/gift-background-desktop.png");
    padding: 185px 40px 43px;
    background-position: top 56px center, center, center;
    text-align: center;
    width: 245px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/sprite.svg#icon-gift"), linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/gift-background-desktop@2x.png");
    }
  }
}
